@font-face {
  font-family: 'SEGA';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/SEGA.ttf') format('truetype'),
    url('../fonts/SEGA.woff') format('woff'),
    url('../fonts/SEGA.woff2') format('woff2');
}
h1 {
  color: #00e9e1;
  font-family: 'SEGA', sans-serif;
  font-weight: 200;
}
